.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/222x/f4/ef/2d/f4ef2d27221f0e14e26a4ead20e82928.jpg);
    background-size: cover;
}

.is-invalid {
    border-color: red;
}


.login-form-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form-box h2 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}
